.container {
  margin: 0 auto;
  background-color: #ffffff;
  max-width: 1500px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
}

.home-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 15px;
}

.form-input {
  height: 24px;
  width: 358px;
  padding: 6px;
}

.form-button {
  background-color: #0aa4e6;
  border: none;
  color: white;
  padding: 13px 32px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
}
