.container {
  margin: 0 auto;
  background-color: #ffffff;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0.5rem;
}

.home-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 15px;
  padding: 1rem;
}

.form-input {
  height: 24px;
  padding: 6px;
}

.form-button {
  background-color: #0aa4e6;
  border: none;
  color: white;
  padding: 13px 32px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
}

.delete-button {
  background-color: #bb2d3b;
  border: none;
  color: white;
  padding: 10px 28px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  margin-top: 12px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

@media (width >= 992px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    margin-top: 2rem;
  }
  .form-input {
    width: 358px;
  }
}
